@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Cute+Font&family=Dongle&family=Inter:wght@100..900&family=Jost:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Monda:wght@400;700&family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tektur:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #222325;
}

/*NAVIGATION BAR*/
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5000);
}
.burger{
  opacity: 0;
}
.nav-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #222325;
}

.left-corner {
  padding: 10px 0px 10px 30px;
}

.left-corner a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 20pc;
}

.left-corner img {
  height: 35px;
}

.search-icon {
  height: 30px;
}

.search-con {
  border: 1px solid #000;
  width: 40px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -6px;
}

.cart-icon {
  height: 40px;
}

.search-bar {
  width: 500px;
  height: 40px;
  display: inline-block;
  margin-right: 5px;
  background-color: transparent;
  border: 1px solid #000;
  outline: none;
  padding: 1em;
}

.search-bar::placeholder {
  font-size: 20px;
  color: #000;
}

.middle-section {
  flex: 1;
  margin-left: 5px;
  margin-right: 10px;
  max-width: 600px;
  display: flex;
  align-items: center;
}

.cart {
  margin-left: 2%;
  position: relative;
}

.cart-notification {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #df2828;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 12px;
  font-weight: 700;
  font-family: 'roboto';
}

.links-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: rgb(245, 164, 2);
}

.log img {
  height: 40px;
}

.link-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-list ul {
  list-style: none;
}

.link-list a {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  color: #fff;
  font-size: 20px;
  font-family: 'roboto';
  font-weight: 500;
  transition: 0.5s;
}

.link-list a:hover {
  color: #F5A302;
}

.burger img {
  height: 20px;
  margin-left: 5px;
}

/*Content*/

/*Shop By Team*/

/*TEAM BANNER*/
#content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 9%;
}

#background {
  width: 100%;
  height: auto;
}

#background img {
  width: 100%;
  height: 625px;
  opacity: 0.3;
}

#team-logo {
  position: absolute;
  display: flex;
  justify-content: left;
  width: 100%;
  padding-bottom: 100px;
}

#team-logo img {
  width: 300px;
  height: 300px;
  padding-top: 80px;
  padding-left: 50px;
  padding-bottom: 30px;
}

#team-logo h1 {
  color: #fff;
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 24px;
  padding-left: 8px;
  display: inline-block;
  width: 50%;
  height: 500px;
  text-shadow: 2px 2px 2px gray;
  text-align: center;
}

#player-img {
  position: absolute;
  display: flex;
  justify-content: right;
  width: 100%;
  margin-top: 220px;
}

#player-img img {
  width: 550px;
  height: 400px;
}

#button-cont {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 340px;
}

#button-cont a {
  text-decoration: none;
  color: #fff;
}

#button-cont button:hover {
  background-color: #F5A302;
  border: 1px solid #747272;
  transform: scale(1.2);
  transition: 0.5s ease-in-out;
}

#button-cont button {
  width: 120px;
  height: 50px;
  margin: 80px;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  font-size: 25px;
  border-radius: 15px;
}

/*END TEAM BANNER*/

/*DROPDOWN TEAMS*/
.row li,
.row li a {
  color: #fff;
  text-decoration: none;
  list-style: none;
  font-size: 0.9em;
  font-weight: 100;
}

.row li a:hover {
  color: #F5A302;
  transition: all 0.6s ease;
}

.row header {
  color: #000000;
  width: 200px;
}

.row .header-to-hide {
  color: #ffffff;
  opacity: 0;
}

.mega-box {
  z-index: 1000;
  position: fixed;
  background: #1E2023;
  width: 60%;
  height: 62%;
  top: 80px;
  right: 0;
  overflow: hidden;
  text-wrap: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}
.row b{
  color: #fff;
}

.mega-box .content {
  background: #1E2023;
  padding: 25px;
  padding-right: 0px;
  display: flex;
  width: 100%;
  gap: 1%;
}

.content .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.link-list:hover .mega-box {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

/*HR*/
#hr {
  width: 100%;
  height: 50px;
  background-color: #C8102E;
  color: #ffffff;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#hr h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  text-shadow: 2px 2px 2px gray;
}

/*END HR*/

/*JERSEY COLLECTION*/
#product-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#product-container h1,
#shoes-container h1 {
  color: #fff;
  font-size: 30px;
  margin-left: 25px;
  margin-bottom: 40px;
  display: inline-block;
  text-shadow: 2px 2px 2px gray;
}

.jersey {
  display: inline-block;
  border: 2px solid #F5A302;
  margin: 6px;
  margin-bottom: 15px;
  background-color: #fff;
  border-radius: 30px;
}

#jersey-container {
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#jersey-description,
#shoes-description {
  padding: 10px;
  text-align: center;
}

.jersey-img {
  width: 100%;
  height: auto;
  padding: 3px;
}

.price {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

/*SHOES*/
#shoes-container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.shoes-img {
  width: 300px;
  height: auto;
  border-radius: 30px;
}

.shoes {
  display: inline-block;
  border: 2px solid #F5A302;
  margin: 20px;
  background-color: #fff;
  border-radius: 30px;
}

/*FOOTER*/
.column-con {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.col {
  margin-top: 5rem;
}

.col h3 {
  color: #F5A302;
  font-family: 'Monda';
  font-size: 1.5em;
  margin-bottom: 2rem;
}

.col a {
  color: #fff;
  text-decoration: none;
}

.col li {
  text-decoration: none;
  list-style: none;
  color: #fff;
  font-family: 'Roboto condensed';
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1rem;
}

/*footcon*/
.bottom-foot {
  background-color: #F5A302;
  min-height: 7vh;
  width: 100%;

}

.btm-col {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.9rem;
  font-size: 0.9em;
}

.btm-col a {
  color: #000;
  text-decoration: none;
}